<%- include('../includes/head.ejs')  %>

    <form action="/reset" method="POST" class="form-center">
        <div class="row">
            <% if (errorMessage) { %>
                <div class="input-field col s12">
                    <div class="card-panel red lighten-2">
                        <span class="white-text"><%= errorMessage %></span>
                    </div>
                </div>
                <% } %>
                    <div class="input-field col s12">
                        <input placeholder="E-Mail..." name="email" id="email" type="email">
                        <label class="active" for="email">E-Main</label>
                    </div>
                    <div class="col s12">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="waves-effect waves-light btn red">Reset Password</button>
                    </div>
        </div>
    </form>

    <%- include('../includes/end.ejs')  %>