<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ pageTitle }}</title>
</head>

<body>
    <nav class="header blue">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li class="{{#if activeShop}}active{{/if}}"><a href="/">Shop</a></li>
                <li class="{{#if activeProduct}}active{{/if}}"><a href="/admin/add-product">App Product</a></li>
            </ul>
        </div>
    </nav>

    {{{ body }}}

</body>

</html>