<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/main.css">
    <title>Add Product</title>
</head>

<body>
    <nav class="header blue">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Shop</a></li>
                <li class="active"><a href="/admin/add-product">App Product</a></li>
            </ul>
        </div>
    </nav>

    <main class="main">

        <form action="/admin/add-product" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter Product..." name="title" id="add-product" type="text" class="validate">
                    <label class="active" for="add-product">Add Product</label>
                </div>
                <div class="col s12">
                    <button type="submit" class="waves-effect waves-light btn red">Add Product</button>
                </div>
            </div>
        </form>
    </main>

</body>

</html>