<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    nav.header.blue
      .nav-wrapper
        ul#nav-mobile.left.hide-on-med-and-down
          li
            a(href="/") Shop
          li.active
            a(href="/admin/add-product") Add Product
    main.main
      form(action="/admin/add-product",method="POST")
        .row
          .input-field.col.s12
            input#add-product.validate(placeholder="Enter Product...",name="title",type="text")
            label.active(for="add-product") Add Product
          .col.s12
            button.waves-effect.waves-light.btn.red(type="submit") Add Product
