.main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
}

.header {
    margin-bottom: 2.8rem;
}

.overflow-hidden {
    overflow: hidden;
}

.card__button-holder {
    margin-left: 0.4rem
}

.centered {
    text-align: center;
}

.form-center {
    margin: 0 auto;
    max-width: 500px;
}

.page-footer {
    text-align: center;
    padding: 0.8rem 0;
}